html,
body {
  height: 100%;
}
.humane {
  position: fixed;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: -1;
}
.humane.humane-show {
  z-index: 100000;
}
.humane {
  font-family: Ubuntu, Verdana, sans-serif;
  font-size: 25px;
  letter-spacing: -1px;
  top: 25%;
  left: 25%;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  width: 50%;
  color: #000;
  padding: 10px;
  text-align: center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACWCAYAAAAfduJyAAAABmJLR0QA/wD/AP+gvaeTAAAAPElEQVQokWP4////Gab///8zQAgGBgYo8e/fP2QxSpSgydJNCYJLRSVoPqeOkgEIYop9TrGbSfcWpW4GAFeF/7lb/oWBAAAAAElFTkSuQmCC');
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,255,255,0.80)), color-stop(1, rgba(150,150,150,0.80))) no-repeat;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.80) 0%, rgba(150,150,150,0.80) 100%) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.80) 0%, rgba(150,150,150,0.80) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(255,255,255,0.80) 0%, rgba(150,150,150,0.80) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(255,255,255,0.80) 0%, rgba(150,150,150,0.80) 100%) no-repeat;
  background: linear-gradient(top, rgba(255,255,255,0.80) 0%, rgba(150,150,150,0.80) 100%) no-repeat;
  background-color: #fff;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 -1px 1px rgba(221,221,221,0.40);
  -moz-box-shadow: 0 4px 4px -4px #000;
  -webkit-box-shadow: 0 4px 4px -4px #000;
  -ms-box-shadow: 0 4px 4px -4px #000;
  -o-box-shadow: 0 4px 4px -4px #000;
  box-shadow: 0 4px 4px -4px #000;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.humane p,
.humane ul {
  margin: 0;
  padding: 0;
}
.humane ul {
  list-style: none;
}
.humane.humane-info {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAAR0lEQVQokWNISfn/n4mBgeE/EwMDAwMqQYQYmdoGlxgjI4rY//+Dx2nUFRsQZ2ALTrQQp8QL1DWeqASC014y7aCx8QwMDAwA1aZBIulmpvwAAAAASUVORK5CYII=');
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #6464ff), color-stop(1, rgba(100,100,255,0.80))) no-repeat;
  background: -moz-linear-gradient(top, #6464ff 0%, rgba(100,100,255,0.80) 100%) no-repeat;
  background: -webkit-linear-gradient(top, #6464ff 0%, rgba(100,100,255,0.80) 100%) no-repeat;
  background: -ms-linear-gradient(top, #6464ff 0%, rgba(100,100,255,0.80) 100%) no-repeat;
  background: -o-linear-gradient(top, #6464ff 0%, rgba(100,100,255,0.80) 100%) no-repeat;
  background: linear-gradient(top, #6464ff 0%, rgba(100,100,255,0.80) 100%) no-repeat;
  background-color: #6464ff;
}
.humane.humane-success {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAASElEQVQokc2SMQ4AIAgDD9/K/79QVzWaENTownAJbWnA5SqACkA/Aiy59hczrGVC30Q7y57EmNU5NL5zwln50IMsfZMel+UBKtFBQSLWM9wLAAAAAElFTkSuQmCC');
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #64ff64), color-stop(1, rgba(100,255,100,0.80))) no-repeat;
  background: -moz-linear-gradient(top, #64ff64 0%, rgba(100,255,100,0.80) 100%) no-repeat;
  background: -webkit-linear-gradient(top, #64ff64 0%, rgba(100,255,100,0.80) 100%) no-repeat;
  background: -ms-linear-gradient(top, #64ff64 0%, rgba(100,255,100,0.80) 100%) no-repeat;
  background: -o-linear-gradient(top, #64ff64 0%, rgba(100,255,100,0.80) 100%) no-repeat;
  background: linear-gradient(top, #64ff64 0%, rgba(100,255,100,0.80) 100%) no-repeat;
  background-color: #64ff64;
}
.humane.humane-error {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAYAAAAp8ov1AAAABmJLR0QA/wD/AP+gvaeTAAAARklEQVQokWP4n5Lyn4mBgeE/EwMDAwMqQYQYmdoGmRgjI4rY//+Dx2lUFRsYZ2ALTrQQp8QLVDWeuASC014y7aCx8QwMDADM3EEi0TnkZAAAAABJRU5ErkJggg==');
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ff6464), color-stop(1, rgba(255,100,100,0.80))) no-repeat;
  background: -moz-linear-gradient(top, #ff6464 0%, rgba(255,100,100,0.80) 100%) no-repeat;
  background: -webkit-linear-gradient(top, #ff6464 0%, rgba(255,100,100,0.80) 100%) no-repeat;
  background: -ms-linear-gradient(top, #ff6464 0%, rgba(255,100,100,0.80) 100%) no-repeat;
  background: -o-linear-gradient(top, #ff6464 0%, rgba(255,100,100,0.80) 100%) no-repeat;
  background: linear-gradient(top, #ff6464 0%, rgba(255,100,100,0.80) 100%) no-repeat;
  background-color: #ff6464;
}
.humane.humane-show {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.humane.humane-show:hover {
  opacity: 0.2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  -moz-transform: scale(1.8);
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
}
